*{
  margin: 0;
  padding: 0;
}

.App {

  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-direction: column;
}
body{
  background-color: snow;

}




.heading{
  margin-bottom: 50px;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}


.nav-link:hover {
	text-decoration:none;
	border-bottom: 3px solid white;
  }


  .img-con, .gym-container, .room-con {
    position: relative;
  }
  .text{
    top:89%;
    right: 40%;
    position: absolute;
    background-color: white;
    width: 400px;
    text-align: center;
    color: rgb(12, 12, 82);
    font-weight: bold;
    font-size: 29px;
  }
  
  .nav-container{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
  
  .img1, .room2{
    width: 100%;
    height: auto;
  }

  .text-container{

    position: absolute;
    top: 40%;
    right: 50%;
    color: white;
    
  }

  .facilities, .rooms{

    text-align: center;
    
    color: rgb(12, 12, 82);

    
  }
  .facilities h1, .rooms h1{
    font-family: serif;
    font-size: 70px;

  }

  .facilities p, .rooms p{

    font-size: 30px;
  

  }

  .nav-wrapper{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .nav-wrapper:hover{
    opacity: 1;
  }
  

  /*Login form style*/
  
  .img2 {

  
    width: 50%;
    height: 500px;
    margin-top: -438px;
    margin-left: 500px;
    
    }
    
    .aside-image {
    
      
      width: 50%;
      height: 500px;
      margin-top: -409px;
      margin-left: 375px;
      
      }
      .aside-image1{
        width: 60%;
        height: 500px;
        margin-top: -458px;
        margin-left: 382px;
      }
      .room-image{
        width: 30%;
        height: 300px;
        margin-top: 50px;
        margin-left: 55px;
        border-radius: 10px;
      }
      
    
    .login, .signup{
      margin-left: 65px;
    }
    
    .login-card, .signup-card{
    
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      background-color: white;
      height: 500px;
      width:50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 200px;
    }
    
    
    .heading {
      margin-top: 100px;
      font-size: 25px;
    }
    
    
    
    .input-container {
      position: relative;
    }
    
    
    .input-container input {
      border: 1px solid gray;
      border-radius: 2px;
      position: relative;
      width: 300px;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 30px;
    }
    
    .input-container label {
      font-weight: normal;
      font-size: 10px;
      position: absolute;
      z-index: 1;
      left: 1.5em;
      background-color: white;
      padding: 0 5px;
    }
    
    
    
    .password-input-container {
      position: relative;
    }
    
    .password-toggle-icon {
      position: absolute;
      top: 50%;
      left: 280px;
      transform: translateY(-50%);
      cursor: pointer;
    }
    
    .fa-eye:before {
      content: '\f06e'; 
    }
    
    .fa-eye-slash:before {
      content: '\f070'; 
    }
    
    .input-container .rememberme{
    
      width:15px;
      height:10px;
      
    }
    
    
    .submit-button{
      margin-top: 30px;
      padding: 6px 30px;
      margin-bottom: 20px;
      background-color: rgb(247, 199, 128);
      border: none;
      color: white;
      border-radius: 5px;
      font-weight: bold;
    }
    
    .login-link {
    color: red;
    text-decoration: none;
    }
    
  
  /*Room card style*/

  .room-card, .guest-card{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      background-color: white;
      height: 400px;
      width:70%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      border-radius: 10px;
  }
  .card-body{
    width: 60%;
    height: 500px;
    margin-top: -308px;
    margin-left: 382px;
    
  }

  /*favarate style*/

  .FaHeart{
    width: 70%;
    height: 500px;
    margin-top: -500px;
    margin-left: 1000px;
    color: #8ecae6;
    

  }
  
  .price{
    width: 70%;
    height: 500px;
    margin-top: -220px;
    margin-left: 850px;
   
  }
.guest-container{
  width: 70%;
    height: 500px;
    margin-top: -20px;
    margin-left: 500px;
}

 
  